/* =================================================
  crew
==================================================== */

.crew {
    height: 100%;
    width: 100%;
    background-image: url("../public/assets/crew/background-crew-mobile.jpg");
    background-size: cover;

    h5 {
        text-align: center;

        @include tablet {
                text-align: left;
            }
    }

    @include tablet {
        background-image: url("../public/assets/crew/background-crew-tablet.jpg");
    }

    @include desktop {
        background-image: url("../public/assets/crew/background-crew-desktop.jpg");
    }
}

.crew__content {
    @include tablet {
        flex-direction: column-reverse;
    }

    @include desktop {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "txt-c img-c"
            "btns-c img-c"
        ;
    }
}

.crew__img {
    width: 66%;
    height: 280px;
    margin-top: 2rem;
    grid-area: img-c;

    @include tablet {
        height: 572px;
    }
}

.crew__line {
    width: 327px;
    height: 1px;
    background-color: #383B4B;

    @include tablet {
        display: none;
    }
}

.crew__btn-container {
    grid-area: btns-c;
}

.crew__btn {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    margin: 2rem 1rem 0 0;
    cursor: pointer;
    opacity: .17;
}

.crew__btn--active {
    opacity: 1;
}

.crew__text {
    grid-area: txt-c;
}
