/* =================================================
  crew
==================================================== */

.crew {
    min-height: 100vh;
    background-image: url("../public/assets/crew/background-crew-mobile.jpg");
    background-size: cover;

    h5 {
        text-align: center;

        @include tablet {
                text-align: left;
                margin: 0 0 0 2rem;
            }
    }

    main {
        padding: 88px 0 0;

        @include tablet {
            padding: 128px 0 0;
        }
    }

    @include tablet {
        background-image: url("../public/assets/crew/background-crew-tablet.jpg");
    }

    @include desktop {
        background-image: url("../public/assets/crew/background-crew-desktop.jpg");
    }
}

.crew__content {

    @include tablet {
        flex-direction: column-reverse;
    }

    @include desktop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "txt-c img-c"
            "btns-c img-c"
        ;
    }
}

.crew__img {
    width: auto;
    height: 222px;
    margin-top: 2rem;
    grid-area: img-c;
    
    @include tablet {
        height: 572px;
    }

    @include desktop {
        height: 712px;
        // position: absolute;
        // bottom: 0;
        // right: 150px;
    }
}

.crew__line {
    width: 327px;
    height: 1px;
    background-color: #383B4B;

    @include tablet {
        display: none;
    }
}

.crew__btn-container {
    grid-area: btns-c;

    @include desktop {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.crew__btn {
    // design style is height and width of 10px but I think that's too small
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 50%;
    margin: 2rem 1rem 0 0;
    cursor: pointer;
    background-color: #fff;
    opacity: .17;

    
    &:hover {
        opacity: 1;
        background-color: #D0D6F9;
    }
}

.crew__btn--active {
    opacity: 1;
}

.crew__text {
    grid-area: txt-c;

    @include desktop {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
