header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        padding-top: 2.5rem;
    }
}

.header__logo {
    width: 40px;
    height: 40px;
    margin: 1.5rem;
    cursor: pointer;
    background-image: url("/assets/shared/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include tablet {
        height: 48px;
        width: 48px;
        margin: 0 0 0 2.5rem;
    }
}

.header__line {
    width: 0;
    height: 1px;
    background-color: #383B4B;
    position: absolute;

    @include desktop {
        right: 57%;
        width: 30%;
    }
}