/* =================================================
  base elements
==================================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #fff;
  background-color: #0B0D17;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

/* =================================================
  typography
==================================================== */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');

a {
  text-decoration: none;
}

b {
  opacity: .4;;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  line-height: 125%;
  margin: 1rem 0;
}

h2 {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 3.5rem;
  margin: 1.25rem 0 0;
}

h3 {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin: .75rem 0;
}

h4 {
  font-family: 'Bellefair', serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 167%;
  margin: 0;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: center;
  color: #D0D6F9;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 0;
}

p {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #D0D6F9;
  margin: 0;
}

span {
  font-family: 'Barlow', sans-serif;
  line-height: 19px;
  text-align: center;
  color: #D0D6F9;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

/* =================================================
  header
==================================================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
}

.header__logo {
  width: 40px;
  height: 40px;
  margin: 1.5rem;
  cursor: pointer;
  background-image: url("../public/assets/shared/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__line {
  width: 0;
  height: 1px;
  background-color: #383B4B;
}

/* =================================================
  nav links
==================================================== */

.navbar {
  display: none;
}

.navbar__link {
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 2.7px;
  color: #fff;
}

.navbar__btn {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1.5rem;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-image: url("../public/assets/shared/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navbar__n {
  display: none;
}

/* =================================================
  sidebar
==================================================== */



/* =================================================
  home page
==================================================== */

.home {
  height: 100vh;
  width: 100%;
  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-size: cover;
}

.home__content {
  /* background-color: red; */

}

.home__text {
  max-width: 450px;
  text-align: center;
}

.home__explore {
  height: 150px;
  width: 150px;
  margin-top: 4rem;
  font-family: 'Bellefair', serif;
  font-size: 1.25rem;
  color: #0B0D17;
  background-color: #fff;
  border-radius: 50%;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

/* =================================================
  destination
==================================================== */

.destination {
  height: 100%;
  width: 100%;
  background-image: url("../public/assets/destination/background-destination-mobile.jpg");
  background-size: cover;
}

.destination__img {
  height: 170px;
  width: 170px;
  margin: 2rem 0 1.5rem;
}

.destination__btn {
  font-size: .875rem;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;
  color: #D0D6F9;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: .5rem;
  border: none;
}

.destination__btn--active {
  border-bottom: 3px solid #fff;
}

.destination__line {
  width: 100%;
  height: 1px;
  margin: 2rem 0;
  background-color: #383B4B;
}

.destination__box {
  margin-bottom: 2rem;
  text-align: center;
}

.destination__subheading {
  font-size: .875rem;
  line-height: 17px;
  letter-spacing: 2.3625px;
}

/* crew */

.crew {
  height: 100%;
  width: 100%;
  background-image: url("../public/assets/crew/background-crew-mobile.jpg");
  background-size: cover;
}

.crew__img {
  width: 65%;
  height: auto;
  margin-top: 2rem;
}

.crew__line {
  width: 100%;
  height: 1px;
  background-color: #383B4B;
}

.crew__btn {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 50%;
  margin: 2rem 1rem 0 0;
  cursor: pointer;
  opacity: .17;
}

.crew__btn--active {
  opacity: 1;
}

.crew__role {
  font-family: 'Bellefair', serif;
  line-height: 1.125rem;
  margin-top: 2rem;
}

/* technology */

.technology {
  height: 100%;
  width: 100%;
  background-image: url("../public/assets/technology/background-technology-mobile.jpg");
  background-size: cover;
}

.technology__img {
  height: 170px;
  width: 100%;
  
}

/* media queries */

@media (min-width: 768px) {

  h1 {
    font-size: 150px;
    line-height: 150px;
  }

  h5 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.37px;
  }

  p {
    font-size: 16px;
    line-height: 167%;
    letter-spacing: 3.375px;
  }

.header__logo {
    height: 48px;
    width: 48px;
    margin: 0 0 0 2.5rem;
  }

  .home {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }

  .home__content {
    margin-top: 6.625rem;
    padding: 0;
  }

  .home__explore {
    margin-top: 9.75rem;
    height: 242px;
    width: 242px;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 3.375;
  }
  
  .destination {
    background-image: url("../public/assets/destination/background-destination-tablet.jpg");
  }

  .crew {
    background-image: url("../public/assets/crew/background-crew-tablet.jpg");
  }

  .technology {
    background-image: url("../public/assets/technology/background-technology-tablet.jpg");
  }

  .navbar__btn {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6rem;
    width: 60%;
    margin: 0;
    background-color: rgba(255, 255, 255, .4);
    backdrop-filter: blur(81.5485px);
  }

}

@media (min-width: 1024px) {

  h1, h5, p {
    text-align: left;
  }

  h1 {
    line-height: 172px;
  }

  h5 {
    font-size: 1.75rem;
    line-height: 34px;
    letter-spacing: 4.725px;
  }

  .header__line {
    margin: 2rem 10.5rem;
    width: 30%;
    position: absolute;
  }

  .navbar__n {
    display: inline;
    color: #fff;
    opacity: 1;
  }

  .home {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
    padding-top: 2.5rem;
  }

  .home__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 12%;
  }

  .home__text {
    text-align: left;
  }

  .home__explore {
    margin: 0;
    height: 274px;
    width: 274px;
  }

  .destination {
    background-image: url("../public/assets/destination/background-destination-desktop.jpg");
  }

  .crew {
    background-image: url("../public/assets/crew/background-crew-desktop.jpg");
  }

  .technology {
    background-image: url("../public/assets/technology/background-technology-desktop.jpg");
  }
}